<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fastify Demo</title>
  <link href="/public/styles/style.css" rel="stylesheet" />
</head>
<body>
  <h1>Hello, I'm {{name}} and my favorite course is {{course}}</h1>
  <img src="/public/images/logo.png" />
</body>
</html>